body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    width: 100%;
    background-color: rgb(0, 172, 172);
    height: 50px;
}
.header a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.header a:hover{
    background-color: rgb(255, 255, 255);
}
.header a:active{
    background-color: rgb(255, 255, 255);
}

.contenedor-libros{
    display: flex;
    padding: 20px;
    gap: 5px;
}

.contenedor-botones{
    display: flex;
    gap: 10px;
    justify-content: center;
}

